body {
    font-family: Lato, 'Open Sans', Arial, sans-serif;
}

#content {
    padding: 5px 5px;
}
.tab-pane {
    width: 350px;
}

form .glyphicon {
    top: 0;
}

hr { 
    display: block;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    /*border-style: inset;*/
    border-width: 1px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

thead {
    font-weight: bold;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#div1 {
    overflow-y: scroll;
    overflow-x: scroll;
    height: 300px;
}

#div2 {
    overflow-y: scroll;
    overflow-x: scroll;
    height: 300px;
}

.nav>li {
    display: inline-block;
}

.nav {
    padding-left: 7%;
}

#tablesearch {
    background-image: url('./searchicon.png'); 
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 90%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-bottom: 12px;
}